@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-bg.png');
    height: 100vh;
    background-size: cover;
}

.main-heading {
    color: #132d84;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 10px;
}

.home-page-card {
    background-color: #ffffff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    padding: 20px;
}

.main-card-heading {
    color: #f19116;
    font-family: "Bree Serif";
    font-size: 18px;
}

.main-card-paragraph {
    color: #7b8794;
    font-family: "Bree Serif";
    font-size: 12px;
    padding-bottom: 10px;
}

.btn {
    color: #ffffff;
    background-color: #f19116;
    border-radius: 3px;
    height: 25px;
    width: 70px;
    padding: 5px;
    font-size: 10px;
}

.bg-container-1 {
    background-color: #222222;
}

.flat-container {
    margin-left: 15px;
    margin-right: 15px;
}

.main-flat-heading {
    color: #f19116;
    font-family: "Bree Serif";
    font-size: 20px;
}

.flat-type-card {
    background-color: #ffffff;
    border-radius: 12px;
    margin: 10px;
}

.flat-image {
    height: 142px;
    width: 70px;
}

.flat-heading {
    color: #0f0e46;
    font-size: 15px;
    font-weight: bold;
    font-family: "Bree Serif";
}

.flat-card-container {
    padding-left: 10px;
    padding-top: 10px;
}

.flat-paragraph {
    color: #7b8794;
    font-size: 12px;
    font-family: "Bree Serif";
}

.flat-bhk-image {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-d1-img.png');
    height: 45vh;
    background-size: cover;
}

.flat-bhk-container {
    background-color: #222222;
}

.flat-space {
    padding: 20px;
}

.flat-bhk-heading {
    color: #f19116;
    font-family: "Bree Serif";
    font-size: 20px;
}

.location-symbol {
    height: 25px;
    width: 25px;
}

.flat-bhk-location {
    font-family: "Bree Serif";
    font-size: 12px;
    color: #7b8794;
}

.flat-bhk-button {
    padding: 15px;
    text-align: center;
}

.flat-btn {
    color: #ffffff;
    background-color: #f19116;
    border-radius: 3px;
    height: 25px;
    width: 70px;
    padding: 5px;
    font-size: 10px;
    margin: 15px;
    border-width: 0px;
}

.flat-two-bhk-image {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-d2-img.png');
    height: 45vh;
    background-size: cover;
}

.flat-four-bhk-image {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-d3-img.png');
    height: 45vh;
    background-size: cover;
}